$color-white: #FFFFFF;
$color-black: #000000;

$fontsize: 16px;

$font-main: 'Poppins', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;
$font-thirty: 'Patrick Hand', cursive;

// PROJECT COLORS
$color-lightpink: #DDACF5;
$color-insta-pink: #d6249f;

$color-lightpurple: #9854CB;
$color-lightpurple-transparent: rgba(#DDACF5, 0.4);

$color-lightblue: #7581E8;
$color-lightblue-transparent: #DCDFF9;
$color-telegram-blue: #37BBFE;

$color-lightorange: #FCA465;
$color-lightorange-transparent: #FDD3B4;
$color-yellow: #c4c400;

$color-milk-white: #FCFBFF;
$color-smoke-white: #F3F5F9;
$color-white-transparent: rgba(#FFFFFF, 0.7);
$color-lightgray: #eeeeee;

$color-night: #0C0B0B;
$color-dark: #282828;

$color-gray: #999999;
$color-black-transparent: rgba($color-black, 0.3);

$color-red: #cc0000;

$color-lightgreen: #00c900;

$gradient-blue-purple: linear-gradient(230.04deg, #7581E8 2.11%, #9854CB 102.63%);
$gradient-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
